<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Cerveza.nombre}}</title>
</head>
<body>

    <div class="text-center">
        <p>Nombre de la Cerveza: <b>{{ cerveza.nombre }}</b></p>
        <p>IBU: <b>{{ cerveza.IBU }}</b></p>
        <p>ABV: <b>{{ cerveza.grad_alcohol }}</b></p>
        <p>
            <a href="{% url 'List' %}">Regresar</a>
        </p>
    </div>
    
</body>
</html>