
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Lista de Experiencias</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'statictwo/GrupoC/assets/favicon.ico' %}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'statictwo/GrupoC/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="btn btn-primary btn-sm" href="{% url 'Acercade' %}">Acerca de</a></li>
                        <li class="nav-item"><a class="btn btn-primary btn-sm" href="{% url 'List' %}">Cervezas</a></li>
                        <li class="nav-item"><a class="btn btn-primary btn-sm" href="{% url 'ListCerve' %}">Cervecerias</a></li>
                        <li class="nav-item"><a class="btn btn-primary btn-sm" href="{% url 'NewExp' %}">Experiencias</a></li>
                        <li class="nav-item"><a class="btn btn-primary btn-sm" href="{% url 'Contacto' %}">Contacto</a></li>
                        {% if not request.user.is_authenticated %}
                        <li class="nav-item"><a class="btn btn-primary btn-sm" href="{% url 'Login' %}">Ingresa</a></li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="btn btn-primary btn-sm" href="{% url 'editarPerfil' %}">{{user.username}}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead">
            <div>
                <h1 class="row justify-content-center">Experiencias</h1>
                <ul>
                    {% for experiencia in object_list %}

                        
                            <h5 >
                                <p class="text-center">- {{ experiencia.nombre }} {{ experiencia.apellido }} - </p>
                                
                                <p > 
                                    <h6 class="row justify-content-center">Cerveza Tomada: {{ experiencia.cerv_tomada }} </h6>
                                    <h6 class="row justify-content-center">Cerveceria: {{ experiencia.cerv_atend }} </h6>
                                    <h6 class="row justify-content-center">Puntaje Cerveza: {{ experiencia.punt_cerveza }} </h6>
                                    <h6 class="row justify-content-center">Puntaje Cerveceria: {{ experiencia.punt_cerveceria }} </h6>
                                    <div class="text-center">
                                        <a href="{% url 'DeleteExp' experiencia.id %}">Eliminar</a> 
                                        <a href="{% url 'EditExp' experiencia.id %}">Editar</a> 
                                    </div>
                                    </a> 
                                </p>
                            </h5>
                        
            
                    {% endfor %}
                </ul>
            </div>
        
            <div class="text-center">
                <a class="btn btn-primary" href="{% url 'NewExp'  %}">Nueva Experiencia</a> 
            </div> 
        </header>
        <header class="masthead">
            
        </header>
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        
                        <p class="text-muted small mb-4 mb-lg-0"> Ramiro Pianarosa - Ricardo Minhot - Roberto Higuera.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/cerveblog/"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>